<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Star Social</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

    <!-- Bootstrap JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap" rel="stylesheet">

    <!-- Linking to master.css -->
    <link rel="stylesheet" href="{% static "starsocial/css/master.css" %}">
    <!--<link rel="stylesheet" href="{% static "css/master.css" %}">-->

    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  </head>

  <body>



    <nav class="navbar navbar-expand-lg fixed-top mynav"'>
      <div class="container">
        <a class="navbar-brand brand" href="{% url 'home' %}">Star Social</a>

        <ul class="navbar-nav ml-auto">
          {% if user.is_authenticated %}
            <li class="nav-item"><a class="nav-link active" href="{% url 'posts:create' %}">Post</a></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'groups:all' %}">Groups</a></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'groups:create' %}">Create Group</a></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'accounts:logout' %}">Log Out</a></li>

          {% else %}
            <li class="nav-item"><a class="nav-link active" href="{% url 'groups:all' %}">Groups</a></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'accounts:login' %}">Login</a></li>
            <li class="nav-item"><a class="nav-link active" href="{% url 'accounts:signup' %}">Sign Up</a></li>

          {% endif %}

        </ul>
      </div>
    </nav>

    <br><br><br>
    <div class="container mycontent">
      {% block content %}

      {% endblock %}
    </div>

    <canvas id="canvas"></canvas>
    <span id="note">Click to add fireflies</span>

    <!-- Fireflies Effect using Codepen -->
    <script type="text/javascript" src="{% static "starsocial/js/master.js" %}"></script>

  </body>
</html>
